.box {
  font-size: 12px;

  --background: #fff;
  --foreground: #171717;
  --bg-primary: #e9ebec;
  --text-color: #1b2430;
  --text-flash: #2c3649;

  position: relative;
  flex-direction: column;
  justify-content: center;
  padding: 10px 0;
  width: 100%;
  border: 1px solid #ddd;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: repeat(3, minmax(100px, auto));
  grid-auto-rows: minmax(100px, auto);
  gap: 20px;

  &.t {
    color: #171717;
  }
}

.text * {
  top: calc(1em + 2em);
}
